/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-size: 1em;
  line-height: 1.4;
  background-color: #2b2b2b;
  color: darkgoldenrod;
  font-family: "Segoe UI";
}

.header {
  text-align: center;
}

.avatar {
  width: 320px;
}

.header__title {

}

.header__subtitle {

}

.main {
  border: orange solid 1px;
  text-align: center;
}

.skills ol {
  list-style: none;
}

.article {

}

.separator {
  width: 50%;
  height: 3px;
  border: gainsboro solid 1px;
  background-color: cornflowerblue;
}

.video {
  width: 75%;
  height: 300px;
}

.hobbies ol {
  list-style: none;
}

.ed__table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 50%;
}

.ed__table th,
.ed__table td {
  border: 1px solid coral;
  padding: 10px;
}

.quote {
  font-size: 32px;
}

.form {
  width: fit-content;
  margin: 0 auto;
}

.fieldset {
  width: fit-content;
  border: coral 1px solid;
  border-radius: 15px;

}

.legend {

}

.required__fields__table {
  padding: 10px;
  border-collapse: collapse;
}

.required__fields__table tr, td {
  border: 0;
}

.form__control {
 background-color: #555555;
  color: darkgoldenrod;
}

.form__control::placeholder {
  color: darkgoldenrod;
}

.form__control[type="text"]:focus {
  /* Стили при получении фокуса */
  background-color: #555555; /* Светло-голубой фон при фокусе */
  color: gold; /* Синий цвет текста при фокусе */
}

.text__area__label {
  display: block;
}

.button {
  background-color: dimgrey;
  color: gold;
}

.footer {
  text-align: center;
}

.reference {
  color: cornflowerblue;
}

